
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px 0px 0px;
  border-bottom:2px solid green;
  text-transform:uppercase;
}

.header a {
  float: left;
  color: green;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 25px;
 
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-left a:hover {
  background-color: #ddd;
  
}

.header a.active {
  border-bottom: 1px solid green;
  color: green;
}

.header-left {
  float: left;
}
.player
{
    height:100px;
    background:red;
}
.list-files li
{
    height:50px;
    padding:15px;
    list-style-type:none;
    background:#fff;
    cursor:pointer;
}
.listing-container
{
    width:50%;
    float:left;
}
.download
{
    float:right;
}

.list-files li:hover{
    background:#E6E6E6!important;
}
.list-files li:nth-child(even) { background: #F7F7F7 }

.file-details
{
    display:inline;
    text-transform:uppercase;
    cursor:pointer;
}
.listing-header
{
    margin-left:20px;
    border-bottom:1px solid #000;
    height:32px;
}
.sort{
float:right;
}
.track-item
{

width:auto;
margin-top:20px;
border: 1px solid #000;
padding: 8px;
text-align: center;
font-size:13px;
min-width:400px;
position:absolute!important;
}
.details-container
{
   float:right;
  
   display:inline-block;
}
.details-text
{
    height:32px;
    border-bottom:1px solid #000;
}
.audio-title
{
    font-size:15px;
    font-weight:bold;
    text-transform:uppercase;
    margin:10px 0 10px 0;
}

.audio-desc
{
    font-size:.9em;
}
.jp-audio .jp-progress
{
    top:75px;
}
.jp-controls,.file-container
{
    margin-top:12px;
}
#audio-listing
{
    padding-left:0px!important;
}
.jp-progress
{
    padding:0px!important;
}

.details-text
{
    text-transform:uppercase;
}
#audio-listing li div
{
    display:none;
}

@media (min-width: 768px) { 
    .jp-time-holder 
    {
    left:37.5%!important;

   width:50%!important;
}
.listing-header
{
    margin-left:0px!important;
}

}

@media (max-width: 768px) { 

    .jp-time-holder 
    {
        left:30.5%!important;
        width:47.5%!important;
    }
 }

 @media (min-width: 1200px)
 {
    .jp-time-holder 
    {
        left:30.5%!important;
        width:47.5%!important;
    }
 }





@media screen and (max-width: 767px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  
.jp-audio .jp-type-single .jp-progress
{
    left:0%!important;
}
#audio-listing li div
{
    margin-right:10px;
    background: url("../assets/images/download.png") no-repeat;
    width: 20px;
    height: 17px;
    display:inline-block;
}
.download{
    display:none;
}

.jp-progress,.jp-time-holder {

    
   
    position: relative!important;
    top:0px!important;
    margin-bottom:20px;
    
}
.jp-audio .jp-interface
{
    height:100%!important;
}
.jp-time-holder
{
    display:inline;
}
.jp-progress
{
    display: inline-block;
    width: 62% !important;
    left:0px!important;
}
.track-item
{
    margin-bottom:20px;
   min-width:100%!important;
   position:relative!important;
   float:left;

}
.listing-header
{
    margin-left:0px;

}
.label,.file-details{
    font-size:.79em!important;
}
.jp-controls
{
left:25%;
}
.details-container{
    margin-bottom:40px;
}

}